  .slider{
    min-height: 450px;
  }
.sliderdiv{
    padding-top: 100px;
    padding-left: 60px;
    color: white;
}
.sliderp{
    border-left: 2px solid black;
    padding-left: 10px;
}
.sliderimg{
    height: 450px;
    margin-top: 30px;
}
.divcounter{
    min-height: 200px;
}
.countericon{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}
.text-mycolor{
    color: #E65100;
}

.services{
    min-height: 250px;
}
.property{
    min-height: 300px;
}
.featuredp{
    color: grey;
}
.featureddiv{
    border-right: 1px solid grey;
}
.featureding{
    height: 220px;
}
.cardic{
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    margin: 0px auto;
    border-radius: 50%;
    background: #FFCCBC;
    padding: 5px;
}
.cardbtn{
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
.feedtop{
    font-size: 35px;
    top: 15px;
    left: 15px;
    position: absolute;
}
.feedtext{
    text-align: justify;
    margin-top: 60px;
}
.feedcard{
    position: relative;
}
.feedimg{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 15px;
}
.footer{
    min-height: 250px;
    background: #000;
}
.footerlogo{
    height: 60px;
}
.feedinput{
   height: 34px; 
}
.bg-color{
    background: #dae8f3;
}